<div class="section bg-white" data-aos="fade-up">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-12 section-heading text-center">
          <h2 class="heading mb-5">{{chefs.heading}}</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 pr-md-5 text-center mb-5" *ngFor="let cook of cooks">
          <div class="ftco-38">
            <div class="ftco-38-img">
              <div class="ftco-38-header">
                <img src="./assets/images/{{cooks.image}}" alt="Free Website Template for Restaurants by Free-Template.co">
                <h3 class="ftco-38-heading">{{cooks.name}}</h3>
                <p class="ftco-38-subheading">{{cooks.position}}</p>
              </div>
              <div class="ftco-38-body">
                <p>{{cooks.description}}</p>
                <p>{{cooks.specification}}</p>
                <p>
                  <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                  <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                  <a href="#" class="p-2"><span class="fa fa-instagram"></span></a>
                </p>
              </div>
            </div>
          </div>
        </div>
        
      
        <!-- <div class="col-md-4"></div> -->
      </div>
    </div>
  </div> 
