<!--The content below is only a placeholder and can be replaced.-->
<app-nav></app-nav>
<app-header></app-header>
<app-learn-more-section></app-learn-more-section>
<app-about-section></app-about-section>
<app-chefs-section></app-chefs-section>
<app-menu-section></app-menu-section>
<app-other-services-section></app-other-services-section>
<app-reservation-section></app-reservation-section>
<app-reviews-section></app-reviews-section>
<app-contact-section></app-contact-section>
<app-footer></app-footer>

