<div class="section pb-3 bg-white" id="section-about" data-aos="fade-up">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-12 col-lg-8 section-heading">
          <h2 class="heading mb-5">{{ about.heading }}</h2>
          <p>{{ about.description }}</p>
          <p>{{ about.depiction }}</p>
        </div>
      </div>
    </div>
  </div> <!-- .section -->
  

  <div class="section bg-white pt-2 pb-2 text-center" data-aos="fade">
    <p><img src="./assets/images/bg_hero.png" alt="Free Website Template for Restaurants by Free-Template.co" class="img-fluid"></p>
  </div> 